<h1>(<%= @flock.id %>) <%= @flock.name %></h1>
<p>This flock contains <a href="/flocks/<%= @flock.id %>/birds"><%= @flock.get_bird_count %></a> birds.</p>

<table>
  <% @flock.attributes.each_pair do | key, value | %>
    <tr>
      <td><%= key %>:</td>
      <td><%= value %></td>
    </tr>
  <% end %>
</table>

<a href="/flocks/<%= @flock.id %>/edit">Update Flock</a>