<h1>(<%= @flock.id %>) <%= @flock.name %></h1>
<p>This flock contains <%= @bird_count %> birds.</p>

<table>
  <% @flock.attributes.each_pair do | key, value | %>
    <tr>
      <td><%= key %>:</td>
      <td><%= value %></td>
    </tr>
  <% end %>
</table>