<h1>Update a Bird</h1>

<form action="/birds/<%= @bird.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Bird name:</label><br>
  <input type="text" name="name" value="<%= @bird.name %>"><br>
  <label for="flock_id">Flock ID:</label><br>
  <input type="number" name="flock_id" value="<%= @bird.flock_id %>"><br>
  <label for="band_id">Band ID:</label><br>
  <input type="number" name="band_id" value="<%= @bird.band_id %>"><br>
  <label for="age">Age:</label><br>
  <input type="number" name="age" value="<%= @bird.age %>"><br>
  <label for="is_bonded">Is the bird bonded? (true/false):</label><br>
  <input type="text" name="is_bonded" value="<%= @bird.is_bonded %>"><br><br>
  <input type="submit" value="Update Bird">
</form>