<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      .border_bottom td {
        border-bottom: 1px solid black;
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <a href="/flocks">Return to all Flocks</a><br>
    <a href="/birds">Return to all Birds</a><br>
    <%= yield %>
  </body>
</html>
